<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}

<body>
  <header class="topbar">
    <div class="topbar-flex">
      <h1><a href="index.html">
          {% include "logo.html" %}
        </a></h1>
      <div id="your-brand" class="your-brand">{{ settings.your_brand | safe }}</div>
      <div class="topbar-actions">
        <label onclick="autoreload(event)" id="autoreload" class="topbar-button autoreload"><i
            class="bi bi-arrow-clockwise"></i></label>
        <label onclick="window.location.href='settings.html'" title="Settings" class="topbar-button"><i
            class="bi bi-gear"></i></label>
      </div>
    </div>
  </header>

  <main>
    <section>
      <div class="section-header">
        <h2>Jobs</h2>
        <div id="status-counters"></div>
        <div class="section-topbar">
          <a href="job.html" title="Create New Job"><i class="bi bi-plus-circle"></i></a>
          <!-- <a title="Filter"><i class="bi bi-funnel"></i></a> -->
          <a title="Sort" onclick="
            document.getElementById('ordering-panel').classList.toggle('hidden');
            this.querySelector('i').classList.toggle('bi-filter-circle');
            this.querySelector('i').classList.toggle('bi-filter-circle-fill');"><i class="bi bi-filter-circle"></i></a>
          <div id="ordering-panel" class="hidden">
            <input type="hidden" id="sort-options" sort-by="last-run" sort-order="desc"/>
            <div id="sort-by-panel">
              By:
              <span class="neon-switch" value="name">Name</span>
              <span class="neon-switch on" value="last-run">Last Run</span>
              <span class="neon-switch" value="next-run">Next Run</span>
            </div>
            <div id="sort-order-panel">
              Order:
              <span class="neon-switch" value="asc">Asc / Oldest</span>
              <span class="neon-switch on" value="desc">Desc / Latest</span>
            </div>
          </div>
        </div>
      </div>
      <div id="jobs-container">Loading jobs...</div>
    </section>
  </main>

  {% include "footer.html" %}
  <script src="utils.js"></script>
  <script src="index.js"></script>
</body>

</html>