<!DOCTYPE html>
<html lang="en">
{% include "parts/header.html" %}

<body>
  <header class="topbar">
    <div class="topbar-flex">
      {% include "parts/topbar.html" %}
      <div class="topbar-actions">
        <label onclick="autoreload(this)" interval="{{ settings.ui_refresher_s or 60 }}"
        title="Autoreload every {{ settings.ui_refresher_s or 60 }} seconds" class="topbar-button autoreload"><i
            class="bi bi-arrow-clockwise"></i></label>
        <label onclick="window.location.href='settings.html'" title="Settings" class="topbar-button"><i
            class="bi bi-gear"></i></label>
      </div>
      {% include "parts/debug-modes.html" %}
    </div>
  </header>

  <main>
    <section>
      <div class="section-header">
        <h2>Jobs</h2>
        <div id="status-counters"></div>
        <div class="section-topbar">
          <div id="ordering-panel" class="job-list-options-panel hidden">
            <input type="hidden" id="sort-options" />
            <div id="sort-by-panel">
              <span class="ordering-label">By:</span>
              <span class="neon-switch" value="name">Name</span>
              <span class="neon-switch" value="last-run">Last Run</span>
              <span class="neon-switch" value="next-run">Next Run</span>
            </div>
            <div id="sort-order-panel">
              <span class="ordering-label">Order:</span>
              <span class="neon-switch" value="asc">Asc / Oldest</span>
              <span class="neon-switch" value="desc">Desc / Latest</span>
            </div>
          </div>
          <div id="filter-panel" class="job-list-options-panel hidden">
            <input type="hidden" id="filter-options" filter-by=""/>
            <div id="filter-by-panel">
              <span class="neon-switch" value="disabled" title="Jobs that are disabled">Disabled</span>
              <span class="neon-switch" value="deletes" title="Jobs that can delete files and folders">Deletes</span>
              <span class="neon-switch" value="uses-remotes" title="Jobs that use a remote share as source or dest">Remotes</span>
              <span class="neon-switch" value="no-reporter" title="Jobs that have no reporters set">No Reporters</span>
              <span class="neon-switch" value="debugging" title="Jobs that are in debug mode">Debugging</span>
            </div>
          </div>
          <a title="Sort" id="ordering-panel-switch"><i class="bi bi-filter-circle"></i></a>
          <a title="Filter" id="filter-panel-switch"><i class="bi bi-funnel"></i></a>
          <a href="job.html" title="Create New Job"><i class="bi bi-plus-circle"></i></a>
        </div>
        
      </div>
      <div id="jobs-container">Loading jobs...</div>
    </section>
  </main>

  {% include "parts/footer.html" %}
  <script lang="javascript">
    DO_REVERSE_CRON = {{ (settings.reverse_cron if 'reverse_cron' in settings else True) | tojson }};
    USE_COOL_TIMESTAMPS = {{ (settings.cool_timestamps if 'cool_timestamps' in settings else True) | tojson }};
    DEFAULT_ORDERING = {{ (settings.default_ordering if 'default_ordering' in settings else 'next-run / desc') | tojson }};
  </script>
  <script src="js/utils.js"></script>
  <script src="js/index.js"></script>
</body>

</html>