@charset "UTF-8";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  background: var(--body-background);
  color: var(--text-color-default-black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.topbar {
  position: fixed;
  width: 100%;
  background: var(--main-theme);
  padding: 15px 20px;
  border-bottom: 1px solid var(--light-border-for-inputs);
  z-index: 1000;
}

.topbar * {
  color: var(--text-color-default-white);
}

.topbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 110px;
}

div.topbar-flex h1 {
  margin: 0;
  font-family: Courier, monospace;
  cursor: pointer;
}

div.topbar-flex h1 pre {
  font-size: 0.9rem;
  margin: 0;
}

.topbar-actions {
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.topbar:hover .topbar-actions {
  opacity: 1;
}

.topbar-button {
  display: inline-block;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: revert;
  margin-left: 24px;
  transition: transform 0.2s, background-color 0.2s;
}

.topbar-button:hover {
  transform: scale(1.05);
}

h2 {
  font-size: 1.7em;
}

main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: 80px;
  padding: 20px 0px;
  width: 100%;
}

main section {
  width: 100%;
  max-width: 940px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.section-header h2 {
  flex-grow: 1;
}

.section-header a {
  display: inline-block;
  font-size: 1.6rem;
  font-family: revert;
  margin-left: 12px;
  transition: transform 0.2s, background-color 0.2s;
}

.section-header a:hover {
  transform: scale(1.05);
  color: var(--main-theme-hover);
}

.section-main {
  background: var(--text-color-default-white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 3px var(--shadow-light);
}

a.add-btn {
  font-size: 2rem;
}

#jobs-container {
  display: block;
  margin-top: 30px;
}

.job-item {
  background: var(--text-color-default-white);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px var(--shadow-light);
  margin-bottom: 20px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  display: flex;
  justify-content: space-between;
  min-height: 165px;
}

.job-item:hover {
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.job-item:not(:has(.job-sidebar .switch input:checked)) {
  opacity: 0.6;
}

.job-info {
  width: 100%;
}

.job-info h3 {
  margin-top: 0;
  margin-bottom: 14px;
  color: var(--main-theme);
  font-size: 1.9rem;
}

.job-info p.job-description {
  width: 95%;
  padding-bottom: 16px;
  font-size: 0.95rem;
  min-height: 20px;
}

.job-info code {
  font-size: 1.05rem;
}

.from-to-label {
  padding-top: 10px;
}

.job-info p strong {
  display: inline-block;
  font-size: 0.6rem;
}

.job-info p strong.rsync-active-option {
  color: var(--switch-on-color);
  font-size: 0.7rem;
  margin-right: 14px;
}

.job-info p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.job-sidebar {
  text-align: center;
  min-width: 74px;
}

.job-sidebar label,
.job-sidebar a {
  display: block;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-border-for-inputs);
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--text-color-default-white);
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--main-theme);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-theme);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--main-theme);
}

a.logs-link {
  color: var(--main-theme);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

#all-logs a {
  color: var(--main-theme);
  font-size: 16px;
  font-weight: bold;
}

a.logs-link:hover,
#all-logs a:hover {
  background: var(--buttons-light-background-hover);
  transform: scale(1.05);
}

#log-download-btn,
#job-copy-btn,
#job-export-btn,
#job-import-btn,
#settings-export-btn {
  display: none;
}

label.running-status {
  font-size: 2.4rem;
  margin-bottom: 0px;
  height: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

label.running-status:hover {
  font-size: 2.0rem;
}

input,
textarea,
select {
  background-color: var(--text-color-default-white);
  color: var(--text-color-default-black);
  border: 1px solid var(--light-border-for-inputs);
  border-radius: 4px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
    vertical-align: top;
}

input[type="checkbox"]:hover {
  background-color: var(--text-color-default-white);
  border: 1px solid var(--main-theme);
}

input[type="checkbox"]:checked {
  background-color: var(--main-theme);
}

input[type="checkbox"]:checked:hover {
  background-color: var(--main-theme);
}

form fieldset {
    margin-inline: 0px;
    border-width: 0px;
    border-style: none;
    border-color: unset;
    border-image: unset;
    margin-bottom: 8px;
    padding-inline: 0;
}

form fieldset legend {
    display: block;
    font-weight: 500;
    padding-inline: 0px;
    margin-bottom: 8px;
}

form fieldset label {
    display: unset;
    font-size: 0.8rem;
}

form label {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
}

form label.header-flag {
  margin-bottom: 0px;
  font-size: 0.8rem;
  margin-top:30px;
}

form input[type="text"],
form input[type="number"],
form select {
  display: block;
  width: 92%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 5px;
}

form select {
  width: 94%;
}

form fieldset.rsync select {
  display: initial;
  width: auto;
  margin-left: 20px;
  margin-top: 20px;
}

form label.header-flag input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 6px;
}

form fieldset input[type="checkbox"] {
    margin-left: 16px;
}

form textarea {
    display: block;
    width: 94%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 5px;
    overflow: hidden;
    min-height: 100px;
    resize: none;
    box-sizing: border-box;
  }

form input.invalid {
  background-color: #f78c7c;
}

form input[type="text"]:disabled,
form input[type="number"]:disabled {
  opacity: 0.5;
}

button {
  background: var(--main-theme);
  color: var(--text-color-default-white);
  border: none;
  padding: 10px 16px;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: var(--main-theme-hover);
  color: var(--text-color-default-black);
}

button.delete-btn {
  display: none;
  background: #e74c3c;
}

button.delete-btn:hover {
  background: #c0392b;
}

button.back-btn {
  background: var(--buttons-light-background);
  color: var(--text-color-default-black);
  border: 1px solid #ddd;
  padding: 9px 15px;
}

button.back-btn:hover {
  background: var(--main-theme-hover);
  color: var(--text-color-default-white);
}

pre#full-log-content {
  overflow-x: scroll;
  margin: 0px;
  border-bottom: 1px solid var(--light-border-for-inputs);
  padding-bottom: 20px;
}

pre::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

pre::-webkit-scrollbar-thumb {
  background: var(--shadow-light);
  border-radius: 10px;
}

pre.logo {
  font-weight: normal;
  transition: none;
}

pre.logo:hover {
  animation: pop 0.2s ease;
}

@keyframes pop {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.1); }
  100% { transform: scale(1); }
}

label.autoreload {
  font-size: 1.89rem;
  margin-top: 3px;
}

label.autoreload i {
  opacity: 0.4;
}

.btmbar {
  width: 100%;
  background: var(--main-theme);
  padding: 8px 0px;
  border-top: 1px solid var(--light-border-for-inputs);
  opacity: 0;
  transition: opacity 5s ease;
}

.btmbar * {
  color: var(--text-color-default-white);
}

div.btmbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

div.btmbar-content h3 {
  margin: 0;
  font-family: Courier, monospace;
  font-size: 1rem;
  font-weight: normal;
  cursor: default;
}

div.btmbar-content a {
  color: var(--buttons-light-background-hover);
  font-size: 16px;
  font-weight: bold;
  margin-right:40px;
}

div.btmbar-content a:hover {
  transform: scale(1.1);
}

.btmbar:hover {
  opacity: 1;
}

