:root {
  --text-color-default-black: #333;
  --text-color-default-white: #ffffff;
  --input-background-white: #fbf2fc;
  --body-background: #f4f7f9;
  --login-body-background: #b1defb;
  --main-theme: #a7c6ed;
  --main-theme-hover: #7b9dcc;
  --buttons-light-background: #f1f8ff;
  --buttons-light-background-hover: #e0efff;
  --light-border-for-inputs: #d1dce7;
  --shadow-light: #0000001a;
  --switch-on-color: #b9b252;
  --standard-light-grey: #c5c1c1;
}
