:root {
  --text-color-default-black: #333;
  --text-color-default-white: #ffffff;
  --input-background-white: #f5f9ff;
  --body-background: #f4f7f9;
  --login-body-background: #4a90e299;
  --main-theme: #4a90e2;
  --main-theme-hover: #357abd;
  --buttons-light-background: #eaf4ff;
  --buttons-light-background-hover: #c8e1ff;
  --light-border-for-inputs: #b8d8f6;
  --shadow-light: #0000001a;
  --switch-on-color: #b9b252;
  --standard-light-grey: #c5c1c1;
}
