:root {
  --text-color-default-black: #333333;
  --text-color-default-white: #ffffff;
  --input-background-white: #f6f6f5;
  --body-background: #f5f1e8;
  --login-body-background: #6b6256e6;
  --main-theme: #a88f68;
  --main-theme-hover: #b69b70;
  --buttons-light-background: #eee7d9;
  --buttons-light-background-hover: #ddd2be;
  --light-border-for-inputs: #cfc2aa;
  --shadow-light: #0000001a;
  --switch-on-color: #d4983b;
  --standard-light-grey: #c5c1b9;
}