:root {
  --text-color-default-black: #333;
  --text-color-default-white: #ffffff;
  --text-color-topbar: #fdeff5;
  --input-background-white: #fdeff58a;
  --body-background: #f4f7f9;
  --login-body-background: #aa607c8a;
  --main-theme: #aa607c;
  --main-theme-hover: #9a4e66;
  --buttons-light-background: #f7e2e6;
  --buttons-light-background-hover: #f1c5c9;
  --light-border-for-inputs: #d6a6b4;
  --shadow-light: #0000001a;
  --switch-on-color: #b9b252;
  --switch-on-color-high-contrast: #aea74d;
  --standard-light-grey: #c5c1c1;
}
