:root {
  --text-color-default-black: #6c747b;
  --text-color-default-white: #dcd3d3;
  --text-color-topbar: #dcd3d3;
  --input-background-white: #f9eaea;
  --body-background: #252a2e;
  --login-body-background: #3d454b;
  --main-theme: #626d74;
  --main-theme-hover: #95aebb;
  --buttons-light-background: #353c41;
  --buttons-light-background-hover: #a1b5c2;
  --light-border-for-inputs: #71777a;
  --shadow-light: #00000059;
  --switch-on-color: #877eb9;
  --switch-on-color-high-contrast: #ac9ef7;
  --standard-light-grey: #aeb9c0;
}