:root {
  --text-color-default-black: #cccccc;
  --text-color-default-white: #000000;
  --text-color-topbar: #22382f;
  --input-background-white: #16231e;
  --body-background: #182223;
  --login-body-background: #293d3f;
  --main-theme: #559f83;
  --main-theme-hover: #65b199;
  --buttons-light-background: #081d19;
  --buttons-light-background-hover: #0e3a36;
  --light-border-for-inputs: #29594b;
  --shadow-light: #ffffff1a;
  --switch-on-color: #a19a45;
  --standard-light-grey: #6f6d6d;
}
