main section.expandable { 
  max-width: 1100px;
}

.collapsible { 
  display: none;
}

span.blockable:not(.collapsible) { 
  display: block;
  margin-right: unset;
}

div.job-item {
  width: 29.9%;
  float: left;
  margin: 0 4px 10px 4px;
  height: 160px;
  padding: 14px
}

div.job-info h3 {
  overflow: auto;
  font-size: 1.8rem;
  padding-bottom: 2px;
}

.job-info p {
  font-size: 1.1rem;
}
    
.job-sidebar {
  margin-left: 2px;
}