<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}

<body>
  <header class="topbar">
    <div class="topbar-flex">
      <h1><a href="index.html">
          {% include "logo.html" %}
        </a></h1>
      <div class="topbar-actions">
        <label onclick="window.location.href='settings.html'" title="Settings" class="topbar-button"><i
            class="bi bi-gear"></i></label>
      </div>
    </div>
  </header>

  <main>
    <section>
      <div class="section-header">
        <h2 id="page-title">Create</h2>
        <a id="job-help-btn" title="Help me!" href="https://github.com/mchatzi/mirrorr/blob/main/docs/configuration.md" target="_blank" >
          <i style="font-size: 1.55rem" class="bi-question-circle"></i></a>
        <a id="job-copy-btn" title="Copy"><i style="font-size: 1.55rem" class="bi bi-copy"></i></a>
        <a id="job-export-btn" title="Export"><i class="bi bi-arrow-down-circle"></i></a>
        <a id="job-import-btn" href="#" title="Import"><i class="bi bi-arrow-up-circle"></i></a>
        <input type="file" id="job-import-file" style="display: none" />
      </div>
      <div class="section-main">
        <form id="job-form">
          <label>
            Job Name
            <input type="text" name="name" id="job-name" placeholder="A name is required!" required />
          </label>
          <label>
            Description
            <input type="text" name="description" id="job-description" placeholder="Description"/>
          </label>
          <label>
            Schedule
            <input type="text" name="schedule" id="job-schedule" placeholder="Mon *-*-* 23:30:00" required />
          </label>
          <label>
            Source Path
            <input type="text" name="source" id="job-source" placeholder="/a/path/with spaces/" required />
          </label>
          <label>
            Destination Path
            <input type="text" name="dest" id="job-dest" placeholder="/a/path/with spaces/" required />
          </label>
          <label>
            Allowed Percentage
            <input type="number" name="allowed_percentage" id="job-allowed_percentage" 
              placeholder="80 (what percentage of files is it allowed to delete) " required />
          </label>

          <fieldset class="rsync">
            <legend>Rsync extras</legend>
            <input type="checkbox" name="rsync_no_owner" id="job-rsync_no_owner" />
            <label>no-owner</label>
            <input type="checkbox" name="rsync_no_group" id="job-rsync_no_group" />
            <label>no-group</label>
            <input type="checkbox" name="rsync_no_perms" id="job-rsync_no_perms" />
            <label>no-perms</label>
            <input type="checkbox" name="rsync_acls" id="job-rsync_acls" />
            <label>acls</label>
            <input type="checkbox" name="rsync_no_times" id="job-rsync_no_times" />
            <label>no-times</label>
            <input type="checkbox" name="rsync_delete" id="job-rsync_delete" />
            <label>delete</label>
            <input type="checkbox" name="rsync_in_place" id="job-rsync_in_place" />
            <label>in-place</label>
            <input type="checkbox" name="rsync_whole_file" id="job-rsync_whole_file" />
            <label>whole-file</label>
            <input type="checkbox" name="rsync_fsync" id="job-rsync_fsync" />
            <label>fsync</label>

            <br/>

            <select name="rsync_bwlimit" id="job-rsync_bwlimit" title="bwlimit">
              <option value="" selected>No bwlimit</option>
              <option value="2000000">2GB/s/s</option>
              <option value="1000000">1GB/s/s</option>
              <option value="500000">500MB/s</option>
              <option value="250000">250MB/s</option>
              <option value="100000">100MB/s</option>
              <option value="80000">80MB/s</option>
              <option value="60000">60MB/s</option>
              <option value="40000">40MB/s</option>
              <option value="30000">30MB/s</option>
              <option value="20000">20MB/s</option>
              <option value="10000">10MB/s</option>
              <option value="1000">1MB/s</option>
              <option value="100">100KB/s</option>
            </select>

            <select name="rsync_nice" id="job-rsync_nice" title="nice">
              <option value="" selected>No Nice</option>
              <option value="5" title="Nice -n 5">Friendly</option>
              <option value="12" title="Nice -n 12">Family</option>
              <option value="19" title="Nice -n 19">❤️❤️❤️</option>
            </select>

            <select name="rsync_ionice" id="job-rsync_ionice" title="ionice">
              <option value="" selected>No ionice</option>
              <option value="-c1" title="Ionice -c1">Sharing</option>
              <option value="-c2" title="Ionice -c2">Caring</option>
              <option value="-c3" title="Ionice -c3">Giving</option>
              <option value="-c4" title="Ionice -c4">❤️❤️❤️</option>
            </select>
          </fieldset>

          <fieldset>
            <legend>Reporters</legend>
            <input type="checkbox" name="reporter_o2" id="job-reporter_o2" />
            <label>OpenObserve</label>
            <input type="checkbox" name="reporter_discord" id="job-reporter_discord" />
            <label>Discord</label>
          </fieldset>
  
          <fieldset>
            <legend>Report settings</legend>
            <input type="checkbox" name="report_noop" id="job-report_noop" checked/>
            <label>Report no-ops</label>
            <input type="checkbox" name="log_noop" id="job-log_noop" checked/>
            <label>Log no-ops</label>
            <br/>
            <br/>
            <input type="checkbox" name="report_success" id="job-report_success" checked/>
            <label>Report successes</label>
            <input type="checkbox" name="log_success" id="job-log_success" checked/>
            <label>Log successes</label>
            <br/>
            <br/>
            <input type="checkbox" name="debug" id="job-debug" checked/>
            <label>Debug job</label>
          </fieldset>

          <label class="header-flag">
            <input type="checkbox" name="wahtever" id="skip-path-existence-check" />Skip path existence check <i class="bi bi-info-circle" title="Paths, unless remote, always get validated for existence and access. Select this if for some reason you must skip this validation."></i>
          </label>

          <button type="submit" id="job-submit-btn">Create</button>
          <button type="button" class="delete-btn" id="job-delete-btn">Delete</button>
          <button type="button" onclick="window.location.href='index.html'" class="back-btn">Cancel</button>
        </form>
      </div>
    </section>
  </main>

  {% include "footer.html" %}
  <script src="job.js"></script>
</body>

</html>