<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}

<body>
  <header class="topbar">
    <div class="topbar-flex">
      <h1><a href="index.html">
          {% include "logo.html" %}
        </a></h1>
      <div class="topbar-actions">
        <label onclick="window.location.href='settings.html'" title="Settings" class="topbar-button"><i
            class="bi bi-gear"></i></label>
      </div>
    </div>
  </header>

  <main>
    <section>
      <div class="section-header">
        <h2 id="page-title">Log</h2>
        <a id="job-help-btn" title="Help me!" href="https://github.com/mchatzi/mirrorr/blob/main/docs/configuration.md" target="_blank" >
          <i style="font-size: 1.55rem" class="bi-question-circle"></i></a>
        <a id="log-download-btn" title="Download"><i class="bi bi-arrow-down-circle"></i></a>
      </div>
      <div class="section-main">
        <pre id="full-log-content"></pre>
        <p>
        <h3>All logs</h3>
        <div id="all-logs"></div>
        </p>
        <button type="button" onclick="window.location.href='index.html'" class="back-btn">Home</button>
        <button type="button" class="delete-btn" id="logs-purge-btn">Purge</button>
      </div>
    </section>
  </main>

  {% include "footer.html" %}
  <script src="joblog.js"></script>
</body>

</html>