<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}

<body>
  <header class="topbar">
    <div class="topbar-flex">
      <h1><a href="index.html">
          {% include "logo.html" %}
        </a></h1>
    </div>
  </header>

  <main>
    <section>
      <div class="section-header">
        <h2>Settings</h2>
        <a id="settings-export-btn" title="Export"><i class="bi bi-arrow-down-circle"></i></a>
        <a id="settings-import-btn" href="#" title="Import"><i class="bi bi-arrow-up-circle"></i></a>
        <input type="file" id="settings-import-file" style="display: none" />
      </div>
      <div class="section-main">
        <form id="settings-form">
          <label>
            Theme
            <select name="theme" id="settings-color_theme">
              <option value="color-theme-green">Green</option>
              <option value="color-theme-mauve">Mauve</option>
              <option value="color-theme-blue">Blue</option>
              <option value="color-theme-denim">Denim</option>
              <option value="color-theme-inverted">Inverted</option>
            </select>
          </label>

          <fieldset>
            <legend>OpenObserve</legend>
            <label>
              Server
              <input type="text" name="o2ReporterServerUrl" id="settings-o2_reporter_o2_server_url" />
            </label>
            <label>
              Basic Auth
              <input type="text" name="o2ReporterServerAuth" id="settings-o2_reporter_o2_server_auth" />
            </label>
          </fieldset>

          <fieldset>
            <legend>Discord</legend>
            <label>
              Webhook
              <input type="text" name="discordReporterWebhookUrl" id="settings-discord_reporter_webhook_url" />
            </label>
            <label>
              Template
              <textarea name="discordReporterTemplate" id="settings-discord_reporter_template"></textarea>
            </label>
          </fieldset>

          <label>
            Send Heartbeat
            <input type="text" name="healthHeartbeatUrl" id="settings-health_heartbeat_url" />
          </label>

          <label>
            Group
            <input type="text" name="group" id="settings-group" />
          </label>

          <button type="submit">Save</button>
          <button type="button" onclick="window.location.href='index.html'" class="back-btn">Home</button>
        </form>
      </div>
    </section>
  </main>

  {% include "footer.html" %}
  <script src="settings.js"></script>
</body>

</html>