<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}

<body>
  <header class="topbar">
    <div class="topbar-flex">
      <h1><a href="index.html">
          {% include "logo.html" %}
        </a></h1>
      <div class="topbar-actions">
        <label onclick="autoreload(event)" title="Autoreload every 5 seconds" class="topbar-button autoreload"><i
            class="bi bi-arrow-clockwise"></i></label>
        <label onclick="window.location.href='settings.html'" title="Settings" class="topbar-button"><i
            class="bi bi-gear"></i></label>
      </div>
    </div>
  </header>

  <main>
    <section>
      <div class="section-header">
        <h2>Jobs</h2>
        <a href="job.html" class="add-btn" title="Create New Job"><i class="bi bi-plus-circle"></i></a>
      </div>
      <div id="jobs-container">Loading jobs...</div>
    </section>
  </main>

  {% include "footer.html" %}
  <script src="index.js"></script>
</body>

</html>